<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Pictures Page</h1>
    <!-- {% for url in pictures_images %}
      <img src="{{ url }}" alt="a random placeholder image">
      <img src="{{ url }}" alt="a random placeholder image">
    {% endfor %} -->
    <ul>
        <li><img src="http://bitmakerlabs.s3.amazonaws.com/photogur/wave.jpg"/></li>
        <li><img src="http://bitmakerlabs.s3.amazonaws.com/photogur/house.jpg"/></li>
    </ul>
</body>
</html>